@import "variables";
@import "util";
@import "mixins";
@import "fonts";

@media (prefers-color-scheme: light) {
  @import "colors/white";
  @import "extend";
  @import "partial/theme";
}

@media (prefers-color-scheme: dark) {
  @import "colors/dark";
  @import "extend";
  @import "partial/theme";
}
